<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "net.whentheresawill.dice"
        versionCode = "10"
        version     = "1.0.2" >

    <name>DICE</name>

    <description>
        A simple dice-rolling webapp.
    </description>

    <author href="http://whentheresawill.net" email="will@whentheresawill.net">
        Will Lee-Wagner
    </author>

</widget>
