@font-face { font-family: Oswald; src: url('Oswald-Light.ttf'); }

html, body, #app, .container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body, button {
  font-family: Oswald, sans-serif;
  font-weight: 200;
  color: rgb(240, 240, 240);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.container {
  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

  -webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
  flex-direction: column;
}

.bar {
  -webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;

  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

  -webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
  flex-direction: row;
}

.option-label {
  width: 0;
  overflow: hidden;

  transition: width 0.5s linear;

  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

  -webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

  -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.option-label.show {
  width: 2em;
}

.option-label h4 {
  -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.option-buttons {
  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

  -webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.option-button {
  -webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.number-bar {
  background-color: #00CDFF;
}

.sides-bar {
  background-color: #006AE8;
}

.roll-bar {
  background-color: #430CE8;
}

.result-bar {
  background-color: #A20DFF;
}


.result {
  -webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;

  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

  -webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

  -webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.option-button, .roll-button {
  border: none;
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.roll-button {
  -webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.option-button:focus, .roll-button:focus {
  outline: none;
}

.option-button.selected {
  background-color: rgba(255, 255, 255, 0.5);
}


.top-bar {
  height: 0;
  overflow: hidden;
  transition: height 0.5s linear;

  background-color: #4d4d4d;

  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

  -webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
  justify-content: center;
}

.top-bar.show {
  height: auto;
}

.top-bar .title {
  margin: 10px;
}


.arrows {
  position: fixed;
  top: 5px;
  left: 5px;
  opacity: 0;

  transition: opacity 0.5s linear;
}

.arrows.show {
  opacity: 1;
}
